DATABASE_URL="mysql://app:password@db:3306/app?serverVersion=8.0.32&charset=utf8mb4"

MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure
MERCURE_JWT_SECRET=8b52f8e451c03e26f4c79249c6d33476e1c905f2a4795f83e43f6f545a3f708a
